@import "tailwindcss";

@layer base {
  :root {
    /* Fonts */
    --font-heading: 'Manrope', system-ui, sans-serif;
    --font-body: 'Source Sans 3', system-ui, sans-serif;
  }

  body {
    font-family: var(--font-body);
  }
}